{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <style>div{width: 60vw;background-color: silver;margin: auto;padding: 15px;}</style>


<div>
    {% for category in resultats %}
        <a href="/category/{{ category.owner.id }}"><h1>{{ category.owner.name }}</h1></a>
        {% for article in category %}
            <h3>{{ article.title }}</h3>
            <p>{{ article.content }}</p>
            {% endfor %}
        <br>
        <hr><br>
    {% endfor %}
</div>


{% endblock %}
